<div class="is-flex is-justify-content-center full-height">
    <form (ngSubmit)="submit()" class="m-auto">
        <h1 class="has-text-weight-bold has-text-centered">Login</h1>
        <div class="my-5">
            <label for="email">Email</label>
            <input type="email" class="p-2 input  is-primary" [(ngModel)]="form.email" name="email">
        </div>
        <div class="my-5">
            <label for="password">Password</label>
            <input type="password" class="p-2 input is-primary " [(ngModel)]="form.password" name="password">
        </div>
        <div class="my-5">
            <button type="submit" class="p-2 button input  is-primary">
                <ng-container *ngIf="isLoading()">
                    Loading...
                </ng-container>
                <ng-container *ngIf="!isLoading()">
                    Submit
                </ng-container>
            </button>

        </div>
    </form>
</div>