<div class="is-flex is-justify-content-center full-height">
    <form class="m-auto">
        <h1 class="has-text-weight-bold has-text-centered">Login</h1>
        <div class="my-5">
            <label for="email">Email</label>
            <input type="email" class="p-2 input  is-primary">
        </div>
        <div class="my-5">
            <label for="password">Password</label>
            <input type="password" class="p-2 input is-primary ">
        </div>
        <div class="my-5">
            <input type="submit" class="p-2 button input  is-primary ">
        </div>
    </form>
</div>