<div class="is-flex is-justify-content-center full-height">
    <form class="m-auto">
        <h1 class="has-text-weight-bold has-text-centered">Login</h1>
        <div>
            <label for="email">Email</label>
            <input type="email" class="p-2">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="p-2">
        </div>
        <div>
            <input type="submit" class="p-2 button">
        </div>
    </form>
</div>